/* @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #151B29;
  overflow: hidden;
}

.side {
  width: 10vw;
}

.center {
  width: 70vw;
  position: relative;
}

/* ============================= Main Menu ================================ */
.main-menu {
  background-image: url("../public/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 0 0 7px white;
}

/* Title positioning */
.main-menu section {
  position: relative;
  animation: fade-in 1s ease-in;
}
.main-menu section:nth-child(1) {
  left: -2vw;
}
.main-menu section:nth-child(2) {
  top: -4vw;
}
.main-menu h1 {
  color: #ffe9ff;
  position: relative;
  font-size: 9vw;
}

.main-menu h1:nth-child(2) {
  top: -5vw;
  left: 5vw;
}
.main-menu p {
  color: #ffe9ff;
  position: relative;
  font-size: 1.25vw;
  top: -7vw;
  left: 10vw;
}

/* Glow for each letter */
.main-menu h1:nth-child(1) > span:nth-child(1) {
  color: #59ff88;
  text-shadow: 0 0 7px #66ff99;
}
.main-menu h1:nth-child(1) > span:nth-child(2) {
  color: #ec2b7f;
  text-shadow: 0 0 7px #ff3366;
}
.main-menu h1:nth-child(2) > span:nth-child(1) {
  color: #31bdff;
  text-shadow: 0 0 7px #33ccff;
}
.main-menu h1:nth-child(2) > span:nth-child(2) {
  color: #ffd587;
  text-shadow: 0 0 7px #ffcc99;
}

.main-menu a {
  color: #ffe9ff;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2.4vw;
  border: 0.3vw solid #ffe9ff;
  border-radius: 2.5vw;
  box-shadow: inset 0 0 5px #ffe9ff, 0 0 5px white;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-bottom: 1.5vw;
  transition: 250ms ease-in;
}

.main-menu a:is(:hover, :focus) {
  color: #30D172;
  border-color: #30D172;
  box-shadow: inset 0 0 5px #30D172, 0 0 5px #30D172;
  text-shadow: 0 0 7px #30D172;
  outline: none;
}

/* Canvas */
canvas, .game-over {
  border-radius: 1vw;
}

/* ============================ Strength Bar ============================ */

.strength-bar {
  position: relative;
  height: 90%;
  width: 2vw;
  border: 2px solid white;
  border-radius: 0.75vw;
}

.strength-gradient {
  position: absolute;
  left: -2px;
  bottom: -2px;
  width: 2vw;
  z-index: -1;
  border-radius: 0.75vw;
}

.strength-line {
  left: -2px;
  width: calc(2vw - 2px);
  height: 25%;
  border-bottom: 2px solid white;
}

/* ============================ Player Info ============================ */

.player-info-bar {
  padding: 0 0 0 1em;
}

.player-info-tag {
  transform: skew(-18deg);
}

.player-info-left {
  /* width: 10px; */
  width: 0.8vw;
  height: 100%;
  margin-right: 4px;
  position: relative;
}

.player-info-highlight {
  background-color: white;
  opacity: 0.5;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
}

.player-info-top {
  height: 3vw;
  /* height: 40px; */
  /* margin-top: 15px; */
  margin-top: 1vw;
  margin-bottom: 4px;
  text-shadow: 0 0 7px rgba(0,0,0,0.5), 0 0 7px black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.player-info-top > div:nth-child(1) {
  height: 100%;
}

.player-info-top > div:nth-child(2), .player-result-tag > div:nth-child(3) {
  position: relative;
  width: 0.8vw;
}

.player-info-bottom {

}

.player-info-bottom > div {
  /* width: 13px; */
  width: 1vw;
  /* height: 20px; */
  height: 1.5vw;
  margin-right: 4px;
  position: relative;
}

.player-info-bottom > div > svg{
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ============================ Game Over ============================ */

.game-over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  animation: fade-in 1s ease-in;
}

.game-over > div > h1 {
  font-size: 2.5vw;
  text-shadow: 0 0 7px white;
}

.player-result-tag {
  font-size: 1.5vw;
  margin-bottom: 0.8vw;
}

.player-result-tag > div:nth-child(1) {
  color: black;
  width: 3vw;
  height: 3vw;
  position: relative;
}

.player-result-tag > div:nth-child(2) {
  background-color: #2E303C;
  width: 15vw;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
}

.game-over > div > div:nth-child(3) {
  margin-top: 0.5vw;
}

/* https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
/* rematch button */
.game-over > div > div > button:nth-child(1) {
  height: 3vw;
  width: 14vw;
  border-radius: 0.5vw;
  /* background: linear-gradient(to left, #5A5D65 50%, #30D172 50%) 98% bottom;
  background-size: 210% 100%; */
  background-color: #5A5D65;
  border: none;
  transition: 250ms ease-in;
  font-size: 2vw;
  text-shadow: 0 0 7px white;
}

/* exit button */
.game-over > div > div > button:nth-child(2) {
  width: 4vw;
  height: 3vw;
  border-radius: 0.5vw;
  /* background: linear-gradient(to left, #5A5D65 50%, #E51F4C 50%) 98% bottom;
  background-size: 210% 100%; */
  background-color: #5A5D65;
  border: none;
  transition: 250ms ease-in;
}

.game-over > div > div > button > svg {
  filter: drop-shadow(0 0 7px white);
}

/* .game-over > div > div > button:hover {
  background-position: 2% bottom;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.game-over > div > div > button:nth-child(1):hover {
  background-color: #30D172;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.game-over > div > div > button:nth-child(2):hover {
  background-color: #E51F4C;
}

/* ============================ Lobby ============================ */

.lobby {
  width: 30vw;
  margin-top: 5vw;
}

.lobby h1 {
  text-align: center;
  font-size: 4vw;
  text-shadow: 0 0 7px white;
  margin-bottom: 1vw;
}

.lobby button {
  background-color: rgb(0,0,0,0);
}

.lobby input {
  background-color: rgb(0,0,0,0);
}

.lobby > button {
  height: 4vw;
  width: 85%;
  margin-bottom: 1vw;
  border: none;
  color: gray;
  font-size: 2vw;
  transition: 250ms ease-in;
}

.lobby > .add-player {
  background-color: rgba(255, 255, 255, 0.02);
  border: 0.2vw solid #5A5D65;
}

.lobby > .add-player:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lobby > button > svg {
  width: 2vw;
  height: 2vw;
  filter: drop-shadow(0 0 7px white);
}

.lobby > .start-game {
  border-radius: 0.5vw;
  /* background: linear-gradient(to left, #2E303C 50%, #30D172 50%) 98% bottom;
  background-size: 210% 100%; */
  background-color: #2E303C;
  margin-top: 1vw;
}

.can-start-game {
  color: white !important;
  text-shadow: 0 0 7px white;
}

.can-start-game:hover {
  /* background-position: 2% bottom; */
  background-color: #30D172;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.lobby > section, .lobby > button {
  position: relative;
  left: 7.5%;
}

/* Player Tag */
.lobby-player-tag {
  height: 4vw;
  width: 100%;
  margin-bottom: 1vw;
}

.lobby-player-tag .player-info-left {
  width: 1vw;
  background-color: #5d1dff;
  margin: 0;
}

.lobby-player-tag > input {
  width: 70%;
  border: none;
  padding-left: 1vw;
  font-size: 1.5vw;
  background-color: rgb(46, 48, 60);
}

.lobby-player-tag > input:focus {
  outline: none;
}

.player-current > input {
  color: #37ff1c;
}

.lobby-player-tag > button {
  width: 15%;
  border: none;
}

.lobby-player-tag > button:nth-child(3){
  background-color: rgb(46, 48, 60);
}

.lobby-player-tag > button > svg {
  width: 50%;
  height: 50%;
  transition: 100ms ease;
}

.lobby-player-tag > button > svg:hover {
  transform: scale(1.2);
  filter: brightness(200%);
}

/* Copy Link */
.lobby .copy-link { /* Should be very similar to player tag */
  width: 100%;
  height: 4vw;  
  margin-bottom: 2vw;
  position: relative;
}

.lobby .copy-link > div {
  background-color: rgb(46, 48, 60);
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  width: calc(100% - 2vw);
  height: 100%;
  display: inline-block;
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 4vw;
  position: absolute;
  top: 0;
  left: 0;
}

.lobby .copy-link > button {
  border: none;
  background-color: rgb(78, 81, 97);
  border-radius: 2vw;
  width: 4vw;
  height: 100%;
  display: inline-block;
  padding: 1vw;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: 250ms ease-in;
}

.lobby .copy-link > button:hover {
  background-color: rgb(104, 106, 116);
}

.lobby .copy-link > button > svg {
  width: 75%;
  height: 75%;
  filter: drop-shadow(0 0 7px white);
}

/* ============================ Error Page ============================ */
.error h1 {
  text-align: center;
  font-size: 4vw;
  text-shadow: 0 0 7px white;
  margin-bottom: 1vw;
}

.error button {
  font-size: 4vw;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 0.5vw;
  background-color: #5A5D65;
  border: none;
  transition: 250ms ease-in;
  font-size: 2vw;
  text-shadow: 0 0 7px white;
}

.error button:hover {
  background-color: #30D172;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* ============================ Animations ============================ */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}